<h1>GPS tracking data</h1>
	<p>
		<ul>
			<li>Latitude: 	<%= @latitude %></li>
			<li>Longitude: 	<%= @longitude %></li>
			<li>Bustime: 		<%= @bustime %></li>
			<li>Speed: 			<%= @speed %></li>
			<li>BusID:			<%= @busid %></li>
		</ul>
	</p>
